<template>
   <div>
       <div id="form"><Formulario v-on:newProduct="addProduct"/></div><br>
       <div><Tabla :lista="items"/></div>
   </div>
</template>

<script>

import Formulario from '@/components/Formulario.vue'
import Tabla from '@/components/Tabla.vue'

export default {
    components: {
        Formulario,
        Tabla
    },
    data() {
        return {
            items: [
                { nombre: 'Guatero', descripcion: 'Cara de gatito negro', precio: 5990 },
                { nombre: 'Taza', descripcion: 'Blanca con frase motivacional', precio: 2500 },
            ]
        }
    },
    methods: {
        addProduct(producto){
            this.items.push({
                nombre: producto.nombre,
                descripcion: producto.descripcion,
                precio: producto.precio
            })
        }
    }
}
</script>

<style>
    #form{
        width: 500px;
        margin-left: 36%;
    }
</style>