<template>
    <div>
        <b-card bg-variant="light" text-variant="black" title="Producto">
            <h3>Cree Producto</h3>
            <b-form>
                <b-input id="inline-form-input-nombre" class="mb-2 mr-sm-2 mb-sm-1" v-model="producto.nombre" placeholder="Nombre de producto" required></b-input>
                <b-input id="inline-form-input-descripcion" class="mb-2 mr-sm-2 mb-sm-1" v-model="producto.descripcion" placeholder="Descripción de producto" required></b-input>
                <b-input id="inline-form-input-precio" class="mb-2 mr-sm-2 mb-sm-2" v-model="producto.precio" placeholder="Precio de producto" required></b-input>
                <b-button v-on:click="enviar" variant="primary">Crear</b-button>
            </b-form>
        </b-card>
    </div>
</template>

<script>
export default {
    data() {
        return {
            producto: {
                nombre: "",
                descripcion: "",
                precio: 0
            }
        }
    },
    methods: {
        enviar() {
            this.$emit('newProduct', this.producto);
            this.producto.nombre="";
            this.product.descripcion="";
            this.producto.precio=0;
        }
    }
}
</script>

<style>

</style>