<template>
    <div>
        <b-table striped hover :items="producto"></b-table>
    </div>
</template>

<script>
    export default {
        props: {
            lista: Array
        },
        data() {
            return {
                producto: this.lista
            }
        }
    }
</script>